grid-container3html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.563rem;
  color: #000;
}

.paragraph {
  margin-top: 10px;
  color: #ffff;
  font-size: 25px;
  font-weight: 300;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color:#000;
}

h4 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
  color: #000;
}

h5 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.563rem;
  font-weight: 500;
  color: #000;
}

/* Home Page */
.grid-containerhome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 56px;
}

.mission {
  padding: 80px;
  text-align-last: center;
  border: solid #F5CC72;
  margin-top: 60px;
  margin-left: 223px;
  border-width: thick;
  margin-right: 223px;
}

.founder2 {
  margin-top: 42px;
  margin-left: 105px;
  margin-right: 128px
} 

.arrows {
  display: flex;
  flex-direction: row;
  gap: 100%;
}

.shopfallseasoncontent {
  background-color: #1E7349;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 46px 128.5px;
}

.aboutusbutton {
  padding-top: 40px;
}

.whyshophere {
  background-color: #C0428B;
  display: flex;
  flex-direction: column;
  padding: 88px 107px;
  margin-top: 100px;
  align-items: center;
}

.founderimage {
  height: 100%;
}

.founder {
  background-color: #1E7349;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 105px;
}


.fallseasonblock {
}

.buttonshop {
  width: 129px;
  background:#C0428B;
  color: #FFFFFF;
  width: 129px;
  height: 53px;
  border: none;
  margin: 1rem 0;
  font-size: 20px;
}

.buttonshop:hover {
  background-color: #98366F;
}

.buttonaboutus {
  width: 129px;
  background:#C0428B;
  color: #FFFFFF;
  width: 129px;
  height: 53px;
  border: none;
  margin: 1rem 0;
  font-size: 20px;
}

.addtocartbutton {
  margin-top: 15px;
}

.buttonaboutus:hover {
  background-color: #98366F;
}

.code {
  background-color: #F5CC72;
  padding: 40px 124px 18px;
}

.grid-container3 {
  position: relative;
}

.Shoplinks {
  position: absolute;
  color: white;
  background-color: rgba(192, 66, 139, 0.8);
  left: 0;
  bottom: 6px;
  right: 0;
  padding: 15px 30px;
}

/* Products Page */
.liveflowersblock {
  background-color: #1E7349;
  padding: 36px 104px 43px 100px;
}

.filterby {
  padding: 100px 0px 0px 30px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

/* .filters {
  margin-left: -650px;
} */

.grid-containerproducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 42px;
  margin: 36px 24px 81px;
  row-gap: 64px;
}

/* .h {
  height:10%
} */

.pink {
  color: #C0428B;
}

.productcolumn {
  display: grid;
  grid-template-columns: 1fr 0fr;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

select {
  color: #FFFFFF;
  width: 225px;
  background-color: #C0428B;
  border: none;
  font-size: 1.563rem;
  font-weight: 400;
  margin-right: 30px;
  padding: 10px 0px 11px 16px;
  appearance: none;
}

.regularwhite {
  color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
}

.icontitles {
  color:#FFFFFF;
  margin-top: revert;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  column-gap: 160px;
}

/* Shop Page */
.grid-container4 {
  display: grid;
  padding: 50px 110px 0px 110px;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 25px;
}

.grid-containershop {
  position: relative;
  display: flex;
  justify-content: center;
}

.button2 {
  background:#C0428B;
  color: #FFFFFF;
  width: 279px;
  height: 60px;
  border: none;
  margin: 1rem 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.button2:hover {
  text-decoration: underline;
}

.button3 {
  background:#C0428B;
  color: #FFFFFF;
  width: 347px;
  height: 60px;
  border: none;
  margin: 1rem 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.button3:hover {
  text-decoration: underline;
  /* text-decoration-thickness: 2px; */
}

.buttondetails2 {
  position: absolute;
  color: white;
  top: 0;
  left: unset;
  right: 7;
  padding: 200px 150px;
  }

.shopblock {
  background-color: #1E7349;
  padding: 36px 104px 50px 100px
}

.shopbutton {
  padding-top: 30px;
  padding-bottom: 55px;
}

.buttondetails {
position: absolute;
color: white;
top: 0;
left: unset;
right: 7;
padding: 200px 150px;
}

/* About Us */
.grid-container-missionblock {
  position: relative;
}

.gridcontainer-who-we-are-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 111px;
  background-color: #1E7349;
}

.gridcontainer-meet-the-founder {
  margin-top: 111px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 52px;
  background-color: #C0428B;
}

.gridfounder2 {
  color: #FFFF;
  margin-top: 73px;
  margin-left: 88px;
  margin-right: 73px;
}

.griditemflowers2 {
  color: #FFFF;
  margin-top: 73px;
  margin-left: 88px;
  margin-right: 73px;
}

.paragraph3 {
  margin-top: 20px;
}

.mission2 {
  padding: 90px 200px;
  text-align-last: center;
  border: solid #F5CC72;
  margin-top: 60px;
  margin-left: 100px;
  border-width: thick;
  position: absolute;
  top: 20px;
  color: #FFFF;
  background-color: rgba(125, 125, 125, 0.4);
}

/* Single Product Page */
.grid-container-sunfinity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 10px 118px 0px 0px; */
  margin-top: 51px;
}

.Otherslink {
    position: absolute;
    color: white;
    background-color: rgba(192, 66, 139, 0.8);
    left: 0;
    bottom: 6px;
    right: 0;
    padding: 15px 30px;
}

.buttonaboutus {
  background-color: #98366F;
}

.buttonaboutus {
    background-color: #C0428B;
    color: #FFFFFF;
    width: 129px;
    height: 53px;
    border: none;
    margin: 1rem 0;
    font-size: 20px;
    margin-top: 46px
}

.order {
  margin: 43px 0px 0px 0px;
}

.sunfinityflowersbox {
  margin: 0px 124px 0px 42px;
}

.sunfinityparagraph {
  margin-top: 32px;
}

.whole {
  display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 61px;
}

.block {
  display: grid;
  /* grid-template-columns: 1fr 1.47fr; */
  margin: 0px 0px 0px 128px;
}

.selectsize {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  gap: 10%;
  margin-top: 15px;
}

.selectsize1 {
  color:#FFFFFF;
  background-color: #1E7349;
  width: 433px;
  padding: 23px 18px 23px 18px;
}

.selectsize2 {
  color:#FFFFFF;
  background-color: #1E7349;
  width: 433px;
  padding: 23px 18px 23px 18px;
}

.yellowarrows {
  display: flex;
  flex-direction: row;
  gap: 100%;
}

fieldset {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 0fr; 
}

input[type=radio] {
  display: none;
  }

.othersboughtwith {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-left: 108px;
}

.potcare {
  color: #FFF;
font-family: Outfit;
font-size: 30px;
font-style: normal;
font-weight: 600;
margin-left: 124px;
}

.potcare2 {
  color: #FFF;
font-family: Outfit;
font-size: 30px;
font-style: normal;
font-weight: 600;
margin-top: 86px;
margin-left: 124px;
}

.one {
  margin-top: 40px;
}

.two {
  margin-top: 77px;
}

.flowercarecontainer {
  display: flex;
  column-gap: 42px;
  align-items: center;
}

.othersboughtcontainer {
  margin-top: 132px;
}

.grid-containerothers {
    display: grid;
    justify-content: center;
    width: 90%;
    padding: 50px 50px 60px 50px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

.flowercare {
  background-color: #1E7349;
  padding: 75px 128px 98px 128px;
}

.grid-item-flower-care2 {
  color:#FFFFFF;
  font-size: 30px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  color: #FFF;
font-family: Outfit;
font-size: 30px;
font-style: normal;
font-weight: 300;
margin-top: 29px;
}

.grid-container-flower-care {
  justify-content: space-between;
    display: grid;
    padding: 50px 19px 60px 50px;
    margin: 0 auto;
    /* grid-template-columns: 1fr 7fr; */
}

.grid-item-flower-care1 {
  display: grid;
  margin-top: 42px;
}

.grid-container5 {
  position: relative;
}

/* Nav Bar */
header {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  min-height: 100px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  column-gap: 51px;
}
.nav a {
  color:#000;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

/* .logo img {
  width: 100%;
} */

.nav a:hover {
  color: #C0428B;
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.nav a:active {
  color: #792958;
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

/* Footer*/
.footlists {
  display: flex;
  justify-content: center;
  column-gap: 12rem;
  margin: auto;
}

.footer {
  background-color: #F5CC72;
  font-size: 16px;
  width: 100%;
  display: grid;
  height: 541px;
}

.footer3 {
  background-color: #F5CC72;
  font-size: 16px;
  width: 100%;
  margin-top: 60px;
  height: 541px;
  display: grid;
}

a.footlinks {
  color:#000;
  text-decoration: none;
  font-size: 16px;
}

a.footlinks:hover {
  color:#C0428B;
  text-decoration: none;
  font-family: 16px;
}

footer ul {
  list-style-type: none;
  /* white-space: pre-line; */
}


span {
  font-weight:600;
}

.socialmedia {
  padding-left: 30px;
}


.icons {
  display: flex;
  justify-content: center;
}

hr {
  height: 1px;
  border: 0;
  background: black;
  margin-top: 25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
}